.container {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-start;
}

.title {
	margin-left: 6px;
}

.btns {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.btn {
	position: relative;
	width: 30px;
	height: 30px;
	margin: 6px;
	padding: 0;
	background: transparent;
	border: 2px solid black;
}

.circle {
	position: absolute;
	top: 4px;
	right: 4px;
	width: 20px;
	height: 20px;
}
