.container {
	height: 550px;
	width: 300px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 10px;
	background: rgba(255, 255, 255, 0.438);
  padding: 10px;
}

.img {
  width: 100%;
  height: auto;
}