.container {
	position: relative;
	display: flex;
	width: 80vw;
	min-width: 1300px;
	height: 80vh;
	min-height: 500px;
	background: white;
	border-radius: 30px;
}

.link {
	position: absolute;
	top: 50px;
	right: 300px;
	color: white;
}
